.browser-extension-swipe-back-arrow {
  --size: 60px;
  position: fixed;
  top: calc(50vh - var(--size) / 2);
  width: var(--size);
  height: var(--size);
  z-index: 100;
  transition: transform 300ms;
}

.browser-extension-swipe-back-arrow-left {
  left: -100px;
}

.browser-extension-swipe-back-arrow-right {
  right: -100px;
  transform: scaleX(-1);
}

.browser-extension-swipe-back-arrow.transition {
  --fade-delay: 750ms;
  transition: opacity  var(--fade-delay);
  opacity: 0;
}

.picker {
  border-radius: 50px;
}
